
.classe-h1{
        color: #000000;
        text-align: center;

}
#teste{
    background-color: khaki;
    width: 127px;


}
    .classe-h2{
        background-color: khaki;
        width: 100px;


    }

    .classe3{
        background-color: khaki;
        width: 300px;
        

    }

    
